@import url('https://fonts.googleapis.com/css2?family=Itim&family=Nerko+One&display=swap');

.nuku{
  font-family: 'Nuku nuku';
  font-size: 250%;
}

    /* smaller dev */
  @media only screen and (max-width: 600px) {
    #nuku{
      font-family: 'Nuku nuku';
      font-size: 150%;
    }

    #logo {
      /* margin-left: 15px; */
      width: 45px;
      height: 45px;
    }

    .footerName {
      font-family: 'Itim';
      text-decoration: none;
      font-weight: 10;
      font-size: 60%;
      text-transform: uppercase;
      /* padding: 15px; */
    }

    body {
      /* background-image: url(img/images/wood.jpg); */
      /* background-color: rgb(255, 255, 255); */
      background-size: cover;
      height: 100vh;
      background-position: center;
      overflow-x: hidden;
    }

    #head {
      width: 100%;
      box-shadow: 0 0 10px #000;
      z-index: 1;
      padding: 0;
      /* background-attachment: fixed; */
      background-color: rgb(255,1,1);
      /* background-image: url(img/vector1.png);
      background-repeat: no-repeat; */
    }

    .linkheader {
      text-decoration: none;
      font-weight: 600;
      font-size:medium;
      text-transform: uppercase;
      padding: 15px;
      font-family: 'Itim';
    }

    #menuName {
      font-family: 'Cantora One';
      text-decoration: none;
      font-weight: 600;
      font-size: large;
      text-transform: uppercase;
      padding: 15px;
    }
    
    #menuSakoSushi {
      font-family: 'Cantora One';
    }

    #footerlogo{
      width: 80px;
      height:80px;
    }    
  }


  /* small dev */
  @media only screen and (min-width: 600px){
    body {
      /* background-image: url(img/images/wood.jpg); */
      /* background-color: rgb(255, 255, 255); */
      background-size: cover;
      height: 100vh;
      background-position: center;
      overflow-x: hidden;
    }

    #nuku{
      font-family: 'Nuku nuku';
      font-size: 200%;
    }

    #logo {
          /* margin-left: 15px; */
          width: 50px;
          height: 50px;
        }
        

    #head {
      width: 100%;
      box-shadow: 0 0 10px #000;
      z-index: 1;
      padding: 0;
      /* background-attachment: fixed; */
      background-color: rgb(255,1,1);
      /* background-image: url(img/vector1.png);
      background-repeat: no-repeat; */
    }

    .linkheader {
      text-decoration: none;
      font-weight: 500;
      font-size: large;
      text-transform: uppercase;
      padding: 15px;
      font-family: 'Itim';
    }

    #menuName {
      font-family: 'Cantora One';
      text-decoration: none;
      font-weight: 500;
      font-size: large;
      text-transform: uppercase;
      padding: 15px;
    }

    .footerName {
      font-family: 'Itim';
      text-decoration: none;
      font-weight: 600;
      font-size: large;
      text-transform: uppercase;
      padding: 15px;
    }

    #menuSakoSushi {
      font-family: 'Cantora One';
    }

    #footerlogo{
      width: 100px;
      height: 100px;
    }
    
  }

  /* big dev */
  @media only screen and (min-width: 992px){
    body {
      background-size: cover;
      height: 100vh;
      background-position: center;
      overflow-x: hidden;
    }

    .nuku{
      font-family: 'Nuku nuku';
      font-size: 250%;
    }

    #head {
      width: 100%;
      box-shadow: 0 0 10px #000;
      z-index: 1;
      padding: 0;
      background-color: rgb(255,1,1);
    }

    .linkheader {
      text-decoration: none;
      font-weight: 600;
      font-size: large;
      text-transform: uppercase;
      padding: 15px;
      font-family: 'Itim';
    }

    #menuName {
      font-family: 'Cantora One';
      text-decoration: none;
      font-weight: 600;
      font-size: large;
      text-transform: uppercase;
      padding: 15px;
    }

    .footerName {
      font-family: 'Itim';
      text-decoration: none;
      font-weight: 600;
      font-size: large;
      text-transform: uppercase;
      padding: 15px;
    }

    #menuSakoSushi {
      font-family: 'Cantora One';
    }
    
    #logo {
      width: 70px;
      height: 70px;
    }

    #footerlogo{
      width: 140px;
      height: 140px;
    }
  }

  .fa-twitter {
    color: black;
  }

  .fa-instagram {
    color: black;
  }

  .fa-facebook {
    color: black;
  }

  .fa-user {
    color: rgb(248, 245, 245);
    width: 140px;
    height: 140px;
  }

  #divider {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 0px;
    width: 100%;
  }

  #logintxt {
    margin-left: 40%;
  }

  #modalclosebtn {
    margin-left: 93%;
    margin-top: 2%;
  }

  #modalloginbtn {
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
  }


  * {
    font-family: 'Cantora One';

  }

  .fa-circle-arrow-up {
    color: rgb(248, 248, 248);
  }


  a:link {
    color: rgb(255, 255, 255);
  }


  a:hover {
    color: rgb(182, 176, 176);
  }

  /* START LOGGED IN PROFILE BUTTON */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
    /*END LOGGED IN PROFILE BUTTON */

  /* START FLOATING CART BUTTON */
  #floatingCart{
    display: inline-block;
    position:fixed;
    width:70px;
    height:70px;
    bottom:45px;
    right:40px;
    background-color:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
  }

  .my-float{
    margin-top:22px;
  }

  .modal-open{
    overflow: hidden;
    padding-right: 1px;
  }
  /* END FLOATING CART BUTTON */


  
  /* START COUNTER MENU */
  span {cursor:pointer; }
  #number{
    margin:10px;
    padding-top: 0;
  }
  .minus, .plus{
    width:20px;
    height:35px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  #inputCounter{
    height:34px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

          

    